
body {
    background-image: url("../assets/LB_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

button {
    background-color: #ffd700; /* pastel yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f1c40f; /* darker yellow */
}

.page-title {
    color: #3498db; /* pastel blue */
    font-size: 2em;
    margin-bottom: 20px;
}

.page-content {
    color: #34495e; /* darker text color */
    font-size: 1.2em;
}
